* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1920px;
}

			/* NAV */

nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;

	width: 100%;
	height: 100px;
	z-index: 1;
	background-color: #fff;
}

.nav__logo {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 80px;

	font-size: 32px;
}

.nav__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	height: 100px;
}

a {
	display: flex;
	text-decoration: none;
	line-height: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 140px;
	color: #000;
	transition: 0.2s;
}

a:hover {
	background-color: #cccccc;
}

			/*HEADER*/

header {
	position: relative;
	width: 95%;
	height: 500px;
	background-image: url(img/header.jpg);
	background-position: center;

	border-radius: 10px;
	margin-top: 20px;
}

.header__elem {
	position: absolute;
	transform: translateY(-50%);
	top: 38%;
	left: 10%;
}

.header__h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 400;
	line-height: 62px;
}

.header__h2 {
	color: #fff;
	font-weight: 400;
}

			/*MAIN*/

main {
	position: relative;
	width: 100%;
	padding-top: 60px;
}

.main__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main__header__elem {

}

.main__h2 {
	width: 100%;
	padding: 20px;
	text-align: center;
	font-size: 28px;
}

.main__header__img {
	width: 400px;
	height: 400px;
	border-radius: 45px;
	padding: 40px;

}

.main__header__p {
	text-align: center;
	font-size: 20px;
}

			/*CONTENT IN MAIN*/

.content {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	display: flex;
	width: 60%;
	padding: 40px;
	justify-content: center;
	align-items: center;

}

.article__img {
	padding: 20px;
	width: 400px;
	height: 400px;
	border-radius: 25px;
	flex-shrink: 0;
}

.article__p {
	padding: 20px;
}

			/*FOOTER*/

footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
}

			/*RESPONSIVE*/

@media only screen and (max-width: 1200px) {
	article {
		width: 90%;
	}
}

@media only screen and (max-width: 720px) {
	a {
		width: 100px;
	}

	article {
		flex-wrap: wrap;
		border-top: 2px solid #000;
		width: 80%
	}
}